<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite 1" verbose="2" >
    <test name="Sanity Page" >
        <classes>
   <!--         <class name="tests.LoginPageTest" />-->
            <class name="tests.LocationPageCRUDTest" />
        </classes>
    </test>

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

</suite>